<html>
<head>
<title>multiple-choice quiz form</title>
</head>
<body bgcolor=#ffffff>

<h3>Trivia</h3>

<form action = "/answer" method = "POST">

Check the answer to each multiple-coice question, and click on the "Send Form" button to submit the information.

<P>Baked alska was invented in this state::<BR>
<input type="radio" name="ans" value="Alaska">Alaska<BR>
<input type="radio" name="ans" value="New Jersey">New Jersey<BR>
<input type="radio" name="ans" value="Washington">Washington<BR>
<input type="radio" name="ans" value="Louisiana">Louisiana<BR>
</p>

<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>
</body>
</html>